.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.container-item{
    flex: 1 1 300px;
    border: 1px solid black;
    background-color: #C0C0C050;
    padding: 10px;
}
