h2{
    color: #00ff00;
}

.h3-azul{
    color: #0000FF;
}

.h3-rojo{
    color: #ff0000;
}

#h3-verde-1{
    color: #00ff00;
}

#h3-verde-2{
    color: #00ff00;
}

p.note{
    color: #C0C0C0;
}

#mi-div-1{
    color: #482093;
}